<link href="./styles/footer.css" rel="stylesheet">

<footer>
 <div class="wrapper">
  <h1>KDD Finance</h1>
  <div class="copyright">Copyright © 2021. Tous droits réservés.</div>
 </div>
</footer>
</article>
</body>

</html>