<header>

 <section id="header-blanc">
  <div class="wrapper">

  </div>
 </section>

 <div class="wrapper">
  <h1><img src="./Assets/Images/imagesAccueil/logo.png"> </h1>
  <nav>
   <ul>
    <li><a href=""><img src="./Assets/Images/imagesAccueil/maison.png" width="25" height="25">
      Accueil</a></li>
    <li><a href=""><img src="./Assets/Images/imagesAccueil/porte-feuille.png" width="25" height="25">
      Transactions</a></li>
    <li><a href=""><img src="./Assets/Images/imagesAccueil/information.png" width="25" height="25">
      À propos</a></li>
    <li><a href="/login"><img src="./Assets/images/imagesAccueil/cadenas.png" width="15" height="15">
      Ouvrir une session</a></li>
   </ul>
  </nav>
 </div>
</header>