<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="../Pages/styles/stylePageAccueil.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
    <title>KDD Finance</title>
</head>

<body style="background-image: url(../Pages/Assets/Images/imagesAccueil/main-image.jpg); background-size: 2000px; background-repeat: no-repeat;">
    
    <header>

        <section id="header-blanc"  >
            <div class="wrapper"  >
                
            </div>
        </section>
        
        <div class="wrapper">
            <h1><img src="../Pages/Assets/Images/imagesAccueil/logo.png"> </h1>
                <nav>
                    <ul>
                        <li><a href=""><img src="../Pages/Assets/Images/imagesAccueil/maison.png" width="25" height="25"> Accueil</a></li>
                        <li><a href=""><img src="../Pages/Assets/Images/imagesAccueil/porte-feuille.png" width="25" height="25"> Transactions</a></li>
                        <li><a href=""><img src="../Pages/Assets/Images/imagesAccueil/information.png" width="25" height="25"> À propos</a></li>
                        <li><a href="/signup"><img src="../Pages/Assets/images/imagesAccueil/cadenas.png" width="15" height="15"> Ouvrir une session</a></li>
                    </ul>
                </nav>
        </div> 
    </header>
    
    <section id="main-image">
        <div class="wrapper">
            <h2>Chez KDD Finance, on est là pour vous aider à effectuer vos opérations bancaires en ligne plus facile que jamais</h2>
            <a href="" class="button-1">En savoir plus</a>
        </div>
    </section>
    
    
    <section id="choisirKDD">
        <div class="wrapper">
            <h3>Pourquoi choisir KDD?</h3>
            <ul>
                <li id="simplicité">
                    <h4>Simplicité</h4>
                    <p>Faites vos opérations bancaires en toute confiance, où que vous soyez. Suivez l’évolution de votre état de solde et
                        de vos transactions à partir de votre compte KDD.</p>
                </li>

                <li id="sécurité">
                    <h4>Sécurité</h4>
                    <p>La protection de vos renseignements financiers et personnels est notre priorité. C’est pourquoi nous travaillons 
                    constamment pour vous permettre de toujours effectuer vos opérations bancaires en toute confiance et en toute sécurité.</p>
                </li>

                <li id="localisation">
                    <h4>Points de services</h4>
                    <p>Repérer les succursales ouvertes et les heures d’ouverture près de chez vous</p>
                </li>
                
                <div class="clear"></div>
            </ul>
        </div>
    </section>
    
    <section id="avantages">
        <div class="wrapper">

            <article style="background-image: url(../Pages/Assets/Images/imagesAccueil/telephone.jpg); background-size: 500px; background-repeat: no-repeat; ">
                <div class="overlay">
                    <h4>Gérez votre argent à distance</h4>
                    <p><small>Transformez votre ordinateur ou votre téléphone intelligent en une succursale personnelle, ouverte en tout temps</small></p>
                </div>
            </article>
            
            <article style="background-image: url(../Pages/Assets/Images/imagesAccueil/famille.jpg); background-size: 500px; background-repeat: no-repeat;">
                <div class="overlay">
                    <h4>Envie de s'évader</h4>
                    <p><small>Nous pouvons vous aider à épargner ou à investir pour ce qui compte le plus pour vous.</small></p>
                </div>
            </article>

            <div class="clear"></div>
        </div>
    </section>
    
    <section id="contact">
        <div class="wrapper">
            <h3>Contactez-nous</h3>
            <p>Si vous désirez nous joindre, veuillez mettre votre nom et votre adresse courriel pour recevoir plus d'informations sur KDD.</p>
            
            <form>
                <label>Nom:</label>
                <input type="text" id="name" placeholder="Votre nom">
                
                <label>Email:</label>
                <input type="text" id="email" placeholder="Votre email">
                
                <input type="submit" value="Envoyer" class="button-3">
            </form>
        </div>
    </section>
    
    <footer>
        <div class="wrapper">
            <h1>KDD Finance</h1>
            <div class="copyright">Copyright © 2021. Tous droits réservés.</div>
        </div>
    </footer>
</article>
</body>
</html>