



<!DOCTYPE html>
<html>
  <head>
    
    <title>Sommaire</title>
    <link rel="stylesheet" href="../Pages/styles/sommaire.css" />
    <!-- Load an icon library -->
    <a href="https://icons8.com/icon/WV326xpsBMyb/phone"
      >Phone icon by Icons8</a
    >
  </head>

  <body>
    <!-- The sidebar -->
    <form action="http://localhost:4000/sommaire" method="GET">
    <div class="sidebar">
      <a href="/">
      <img
        class="logo"
        src="../Pages/Assets/images/logo.png"
        height="80"
        width="200"
      />
      </a>
      <div class="colonneNav">
        <div class="btnPage">
          <img src="../Pages/Assets/icons/house.svg" width="22" height="auto" />
          <a href="/sommaire">Sommaire</a>
        </div>
        <div class="btnPage">
          <img
            src="../Pages/Assets/icons/info-square.svg"
            width="22"
            height="auto"
          />
          <a href="/apropos">A propos</a>
        </div>
      </div>

      <!-- Bulle Utilisateur -->
      <div class="bubbleUtilisateur">
        <div class="rangeeBulle">
          <h6 id="user">Usager</h6>
        </div>
      </div>
    </div>

    <div class="contenu">
      <div class="sectionTitre">
        <h1>Sommaire</h1>
      </div>
      <div class="rangee1">
        <!--Premier rectangle-->
        <div class="sectionFonds">
          <div class="colonneFonds">
            <p class="titreFonds">Fonds disponibles</p>
            <p class="valeurFonds">$2600.49</p>
          </div>
        </div>

        <!--Deuxieme rectangle-->
        <div class="sectionConversion">
          <p class="titreConversion">Conversion</p>
          <div class="contenuConversion">
            <div class="monnaieGauche">
              <input type="number" />
              <select name="monnaie1" id="monnaie1">
                <option value="CAD">CAD</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
              </select>
            </div>
            <img
              class="imageConversion"
              src="https://img.icons8.com/fluent/48/000000/currency-exchange.png"
              height="35"
            />
            <div class="monnaieDroite">
              <select name="monnaie2" id="monnai2">
                <option value="CAD">CAD</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
              </select>
            </div>
          </div>
          <button class="btnConvertir">Convertir</button>
          <p class="resultatConversion">Resultat conversion</p>
        </div>
      </div>

      <div class="rangee2">
        <div class="sectionTransactions">
          <h2 class="titreTransactions">Transactions</h2>
          <div class="annonce">
            <img
              src="https://img.icons8.com/fluent/48/000000/hammer.png"
              height="50"
            />
            <h3>Fonctionnalité à venir</h3>
          </div>
        </div>
        <div class="sectionStats">
          <h2 class="titreStats">Statistiques</h2>
          <div class="annonce">
            <img
              src="https://img.icons8.com/fluent/48/000000/hammer.png"
              height="50"
            />
            <h3>Fonctionnalité à venir</h3>
          </div>
        </div>
      </div>
    </div>
  </form>
  </body>
</html>
