<!DOCTYPE html>
<html>
  <head>
    <title>A propos</title>
    <link rel="stylesheet" href="../Pages/styles/apropos.css" />
    <!-- Load an icon library -->
    <a href="https://icons8.com/icon/WV326xpsBMyb/phone"
      >Phone icon by Icons8</a
    >
  </head>

  <body>
    <form action="http://localhost:4000/apropos" method="GET"></form>
    <!-- The sidebar -->
    <div class="sidebar">
     <a href="/">
      <img
        class="logo"
        src="../Pages/Assets/images/logo.png"
        height="80"
        width="200"
      />
    </a>
      <div class="colonneNav">
        <div class="btnPage">
          <img src="../Pages/Assets/icons/house.svg" width="22" height="auto" />
          <a href="/sommaire">Sommaire</a>
        </div>
        <div class="btnPage">
          <img
            src="../Pages/Assets/icons/info-square.svg"
            width="22"
            height="auto"
          />
          <a href="/apropos">A propos</a>
        </div>
      </div>

      <!-- Bulle Utilisateur -->
      <div class="bubbleUtilisateur">
        <div class="rangeeBulle">
          <img
            class="imageUtilsateur"
            src="../Pages/Assets/icons/person-circle.svg"
            width="18"
            height="auto"
          />
          <h6>Usager</h6>
          <img
            class="imageUtilsateur"
            src="../Pages/Assets/icons/arrow-right.svg"
            width="18"
            height="auto"
          />
        </div>
      </div>
    </div>

    <div class="contenu">
      <div class="sectionTitre">
        <h1>A propos</h1>
      </div>
      <div class="informations">
        <div class="sectionDescription">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            consequat ligula non nisi malesuada, mattis viverra dolor vulputate.
            Nunc eu rhoncus justo. Donec dolor tortor, ultricies eu blandit eu,
            ultricies in tellus. Vivamus mauris est, consequat ut mi sit amet,
            pretium laoreet dui. Fusce sit amet pellentesque ipsum. Donec eu
            sapien lectus. Maecenas suscipit ex in bibendum dignissim. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos. Sed et orci sit amet neque viverra interdum eu
            sit amet nulla. Sed posuere nunc et dolor aliquet pretium. Nullam
            fringilla ut nibh at vulputate. Maecenas imperdiet felis at lectus
            semper accumsan. Integer felis odio, blandit sit amet sem in,
            pulvinar sollicitudin metus. Nunc vestibulum in risus et pretium.
            Suspendisse nec accumsan sem. Aenean vitae eros sagittis, tincidunt
            diam ut, pellentesque tortor. Integer non efficitur metus. Nunc eget
            risus posuere, pulvinar neque a, bibendum lectus. Suspendisse
            posuere ultrices neque sed viverra. Aenean quis congue velit. Nulla
            facilisi.
          </p>
        </div>
        <div class="sectionMap">
          <h2 class="titreCarte">Nous rejoindre</h2>
          <h6 class="localisation">
            10555 Ave de Bois-de-Boulogne,<br />
            Montreal, Quebec H4N 1L4<br />10:00 am - 7:00 pm
          </h6>
          <div class="rangeeBtnJoindre">
            <img
              class="btnJoindre"
              src="https://img.icons8.com/fluent/48/000000/phone.png"
            />
            <img
              class="btnJoindre"
              src="https://img.icons8.com/fluent/48/000000/atm.png"
            />
            <img
              class="btnJoindre"
              src="https://img.icons8.com/fluent/48/000000/composing-mail.png"
            />
          </div>
          <img
            class="imageMap"
            src="../Pages/Assets/images/Map.png"
            width="300px"
            height="auto"
          />
        </div>
      </div>
    </div>
  </body>
</html>
